@import "tailwindcss";

/* npx @tailwindcss/cli -i ./src/style/master.css -o ./src/style/output.css --watch */
.myBg {
    background: #fbfea5;
    background: linear-gradient(143deg, rgba(251, 254, 165, 1) 0%, #a6d16a 50%);
}

.myBorder {
    border-radius: 69% 31% 62% 38% / 54% 57% 43% 46%;
}

.test {
    background-color: #faff68ac;
    background-color: #68f5ffac;
}

.myShadow {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.myFont {
    font-family: "Winky Sans", sans-serif;
}

.resStyle {
  @apply w-full md:w-10/12 lg:w-[45%] h-fit bg-[#a6d16a] rounded-[10px] flex flex-wrap justify-center gap-y-2.5 md:justify-between items-center p-5;
}

.myShadow2{
   box-shadow: -10px 10px 0px #fefce8; 
}
