@import "tailwindcss";

/* npx @tailwindcss/cli -i ./src/style/master.css -o ./src/style/output.css --watch */
.myBg {
    background: #fbfea5;
    background: linear-gradient(143deg, rgba(251, 254, 165, 1) 0%, #a6d16a 50%);
}

.myBorder {
    border-radius: 69% 31% 62% 38% / 54% 57% 43% 46%;
}

.test {
    background-color: #faff68ac;
    background-color: #68f5ffac;
}

.myShadow {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.myFont {
    font-family: "Winky Sans", sans-serif;
}

.resStyle {
    width: 45%;
    height: auto;
    background-color: #a6d16a;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    >div {
        display: flex;
        align-items: center;
        gap: 15px;

        &:nth-of-type(1) {

            width: 100%;
            border-bottom: 1px solid white;
            padding-bottom: 10px;
            margin-bottom: 10px;

            >h2 {
                height: fit-content;
                color: white;
                text-transform: uppercase;
                font-weight: bolder;

            }

            >p {
                color: rgb(96, 96, 96);
            }
        }

        &:nth-of-type(2) {

            width: 68%;
            height: 150px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 10px;
            background-color: #fefce8;
            border-radius: 8px;

            >div {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 15px;

                >img {
                    width: 30px;
                    height: 30px;
                }

                >h3 {
                    color: #a6d16a;
                    text-transform: capitalize;
                    font-weight: bolder;
                }

                >p {

                    color: rgb(96, 96, 96);
                    text-transform: capitalize;
                }

            }
        }
    }

    >figure {
        width: 30%;
        height: 150px;
        overflow: hidden;
        border-radius: 8px;
        border: 2px solid #fefce8;

        >img {
            object-fit: cover;
            object-position: center;
        }
    }
}